body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  height: 40px;
}

.menu a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.hero h1 {
  font-size: 60px;
  color: red;
}

.hero button {
  width: 150px;
  padding: 10px;
  background: orange;
  border: none;
  cursor: pointer;
}

/* BRANDS */
.brands {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #111;
  color: grey;
}

/* PRODUCTS */
.products {
  display: flex;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 15px;
  width: 300px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}
