* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #000;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
}

.logo {
  height: 40px;
}

.navbar a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
  color: #ff3c3c;
}

.hero p {
  margin: 10px 0;
  color: #ccc;
}

.hero button {
  padding: 10px 20px;
  background: orange;
  border: none;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 40px;
}

.products h2 {
  margin-bottom: 20px;
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 40px;
}
